{% extends 'global/Page.html' %}

{% block title %}
    Thank you very much for participating
{% endblock %}

{% block content %}
    <div class="explanation-container">
        Please use the following link (button) or code to return to Prolific.    
    </div>
    <h3>Prolific code: {{ prolific_code }}</h3>
    <a href="{{ prolific_url }}" class="btn btn-primary">Return to Prolific</a>
{% endblock %}

{{ block scripts }}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const timestamp = Date.now() / 1000;
        console.log(timestamp)
        liveSend({'timestamp_outro': timestamp})
    });
</script>
{{ endblock }}
