OPENAI_KEY=your_openai_api_key
OPENAI_MODEL=your_model_name
OPENAI_URL=your_openai_endpoint

DATABASE_URL=sqlite:///db.sqlite3
REDIS_URL=

OTREE_ADMIN_PASSWORD=your_admin_password
OTREE_SECRET_KEY=your_secret_key
OTREE_AUTH_LEVEL=STUDY
OTREE_PRODUCTION=0
