{% extends 'global/Page.html' %}

{% block title %}
    Mental Health
{% endblock %}

{% block content %}
    <div class="explanation-container">
        Please read each statement and rate which indicates how much the statement applied to you <b>over the past week.</b> 
        There are no right or wrong answers. Do not spend too much time on any statement. 
        <ul>
            <li>Never: Did not apply to me at all</li>
            <li>Sometimes: Applied to me to some degree, or some of the time</li>
            <li>Often: Applied to me to a considerable degree, or a good part of time</li>
            <li>Almost Always: Applied to me very much, or most of the time</li>
        </ul>
    </div>

    
    <table class="table">
        <thead>
            <tr>
                <th style="width: 65%">Statements</th>
                <th style="width: 8%">Never</th>
                <th style="width: 8%">Sometimes</th>
                <th style="width: 8%">Often</th>
                <th style="width: 8%">Almost Always</th>
            </tr>
        </thead>
        <tbody>
            {{ for field in form }}
                <tr>
                    <td>{{ field.label }}</td>
                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {{ endfor }}
        </tbody>
    </table>
    
    <div style="text-align: right; margin-top: 20px;">
        {{ next_button }}
    </div>
{% endblock %}

{{ block scripts }}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const timestamp = Date.now() / 1000; // Sekunden mit Millisekunden-Präzision
        console.log(timestamp)
        liveSend({'timestamp_dass': timestamp})
    });
</script>
{{ endblock }}
