{% extends 'global/Page.html' %}

{% block title %}
Personality
{% endblock %}

{% block content %}
    <div class="explanation-container">
        Here are a number of characteristics that may or may not apply to you. 
        For example, do you agree that you are someone who likes to spend time with others? Please choose a number for each statement to indicate the extent to which you agree or disagree with that statement.
    </div>

    <table class="table">
        <thead>
            <tr>
                <th style="width: 45%">Statements</th>
                <th style="width: 8%">Disagree strongly</th>
                <th style="width: 8%">Disagree a little</th>
                <th style="width: 8%">Neither agree nor Disagree</th>
                <th style="width: 8%">Agree a little</th>
                <th style="width: 8%">Agree strongly</th>
            </tr>
        </thead>
        <tbody>
            {{ for field in form }}
                <tr>
                    <td>{{ field.label }}</td>
                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {{ endfor }}
        </tbody>
    </table>
    
    <div style="text-align: right; margin-top: 20px;">
        {{ next_button }}
    </div>
{% endblock %}

{{ block scripts }}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const timestamp = Date.now() / 1000; // Sekunden mit Millisekunden-Präzision
        console.log(timestamp)
        liveSend({'timestamp_bigfive': timestamp})
    });
</script>
{{ endblock }}
